$Akronim: "Akronim";
$Megrim: "Megrim";
$Aunchanted: "AunchantedXspace";
$Isocp: "ISOCP2";
$Isocteur: "ISOCTEUR";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@font-face {
  font-family: "Akronim";
  src: "../../assets/fonts/Akronim-Regular.ttf";
}
@font-face {
  font-family: "Megrim";
  src: "../../assets/fonts/Megrim-Regular.ttf";
}
@font-face {
  font-family: "AunchantedXspace";
  src: "../../assets/fonts/AunchantedXspace.ttf";
}
@font-face {
  font-family: "ISOCP2";
  src: "../../assets/fonts/isocp2__.ttf";
}
@font-face {
  font-family: "ISOCTEUR";
  src: "../../assets/fonts/isocteur.ttf";
}

$title-text: $Aunchanted;
$subtitle-text: $Megrim;
$chapter-text: $Isocp;
$paragraph-text: $Isocp;
$subparagraph-text: $Isocp;
$subsubpara-text: $Isocp;
$normal-text: $Akronim;
$span-text: $Akronim;
