//angular-custom-modal

/**
 * As a user:
 * If you're looking forward the default modal styles on the web, this is the relevant source code.
 * You can find the complete styles (page background, positioning, etc.) in app.component.scss, but
 * you're unlikely to need it.
 *
 * If you going to use Bootstrap, you probably do not need the code below. Simply import the
 * Boostrap library into your Angular project.
 *
 * Angular-custom-modal developer note:
 * This file is not imported through app.component.ts due to the example switching between custom
 * and Boostrap. We are injecting this file with JS instead (by using the URL provided through the
 * angular-cli assets).
 */

body.modal-open {
  overflow: hidden; /* Optional: hides body scroll bar when modal is open. */
}

.modal {
  opacity: 0.2; /* Fade in/out animation. */
  transition: opacity 0.2s ease-in;
  background-color: #703513b6 !important;
}

.modal-content {
  color: $sunny;
  background-color: #e5e5e5;
  padding: 1em;
  border-radius: 0.2em;
}

.modal-header {
  display: flex;
  padding-bottom: 1em;
}

.modal-header > h2 {
  flex: 1;
}

.modal-header .close {
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  font-size: 1rem;
  border: 0;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  line-height: 1rem;
  height: 1rem;
  width: 1rem;
}

.modal-header .close:hover {
  background-color: #ccc;
}
