<div class="container">
    <div class="containerForm">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form" id="form1">
            <h2 class="form__title">Creer Un Compte</h2>
            <!-- <input  type="number" placeholder="id" class="form-control" formControlName="id" id="id"/> -->
            <input type="email" placeholder="e-mail" class="form-control" formControlName="email" id="email" />
            <input type="password" placeholder="mot de passe" class="form-control" formControlName="password"
                id="password" />
            <button type="submit" class="btn" [disabled]="signUpForm.invalid">Enregistrer</button>
            <button type="button" class="btn" id="signIn" [routerLink]="['/auth/login']"
                routerLinkActive="router-link-active">← se connecter</button>
            <p class="text-danger">{{ errorMessages }}</p>
        </form>
    </div>
</div>