  @import './Generic/index.scss';
h1{
    font-size: 40px;
}
  .container {
    // tsy ita ny limite

  }
  *{
      border-radius: 0;
  }
  #navMenu {
    top: 200px;
    left: 200px;
    width: 140px;
    height: 140px;
    z-index: 100;
    background: linear-gradient(90deg, #910EC9, #d350db, #910EC9);
    -webkit-background: linear-gradient(90deg, #910EC9, #d350db, #910EC9);
    background-size: 400% 400%;
    -webkit-background-size: 400% 400%;
    animation: gradient 5s infinite;
    -webkit-animation: gradient 5s infinite;
  }
  
  #navMenu:hover, .nav:hover {
    background: #d350db;
  }
  
  @keyframes gradient {
    50% {
      background-position: 100% 0;
    }
  }
  @-webkit-keyframes gradient {
    50% {
      background-position: 100% 0;
    }
  }
  
  .diamond {
    position: absolute;
    width: 67.5px;
    height: 67.5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background: #910EC9;
    margin: 10px;
    cursor: pointer;
    // box-shadow:$shadow-gradiant;
  }
  
  .diamond:active {
    background: #710b9e;
    box-shadow: 0px 1px 2.5px #101010;
    transition: 0.1s;
    -webkit-transition: 0.1s;
  }
    
  .nav {
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  
  .nav1 {
    top: 136px;
    left: 287px;
  }
  
  .nav2 {
    top: 186px;
    left: 337px;
  }
  
  .nav3 {
    top: 236px;
    left: 387px;
  }
  
  .nav4 {
    top: 286px;
    left: 337px;
  }
  
  .nav5 {
    top: 336px;
    left: 287px;
  }
  
  .small {
    top: 236px;
    left: 236px;
    z-index: 10;
    background: #643fc1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  
  .rotCorrect {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 13px;
    margin-top: 13px;
    background: transparent;
    font-size: x-large;
  }
  
  #mainRotCorrect {
    margin-left: 30px;
    margin-top: 30px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    // max-width: 500px;
    background: transparent;
    font-size: 36px;
  }
  
  i {
    background-color: transparent;
    background: transparent !important;
  }